services:
  nginx:
    image: nginx:1.29.4
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./public:/var/www/public
      - ./src:/var/www/src
    ports:
      - "8080:80"
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/
    ports:
      - 9000
    environment:
      - DB_NAME=$DB_NAME
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT
      - DB_USERNAME=$DB_USERNAME
      - DB_PASSWORD=$DB_PASSWORD
    depends_on:
      - db

  db:
    container_name: $DB_HOST
    image: mysql:9.6.0
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_ROOT_PASSWORD
      - MYSQL_USER=$DB_USERNAME
      - MYSQL_PASSWORD=$DB_PASSWORD
    volumes:
      - db:/var/lib/mysql

volumes:
  db:
